<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      New Story
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
  <div id="newStory-container4">
    <form id="newStory-form6">
      <ion-item id="newStory-input7">
        <ion-label></ion-label>
        <ion-input type="text" placeholder="Title" ng-model="model.title"></ion-input>
      </ion-item>
      <div class="spacer" style="width:300px;height:21px;" id="newStory-spacer3"></div>
    </form>
  </div>
  <form id="newStory-form5">
    <ion-item id="newStory-textarea1">
      <ion-label></ion-label>
      <ion-textarea placeholder="" rows="18" ng-model="model.story"></ion-textarea>
    </ion-item>
    <!-- <div class="spacer" style="width:300px;height:25px;" id="newStory-spacer2"></div> -->
  </form>
  <button id="newStory-button5" ion-button color="positive" block ng-click="save_data()">
    Publish!
  </button>
</ion-content>