<ion-header>
  <ion-navbar>
    <ion-title>
      Sound Recorder & Player
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <button ion-button primary (click)="stopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;Stop Record</button>
        <button ion-button primary (click)="startRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon>&nbsp;&nbsp;Start Record</button>
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.filename}}</p>
      <button ion-button clear item-end large (click)="playAudio(audio.filename, i)"><ion-icon name="play"></ion-icon></button>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button icon-only (click)="regularShare()" color="primary" clear>
        <ion-icon class="share-icon" name="share"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="whatsappShare()" color="primary" clear>
        <ion-icon class="share-icon" name="logo-whatsapp"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="facebookShare()" color="primary" clear>
        <ion-icon  class="share-icon" name="logo-facebook"></ion-icon>
      </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="twitterShare()" color="primary" clear>
        <ion-icon class="share-icon" name="logo-twitter"></ion-icon>
      </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
